*,
*::before,
*::after {
  
  margin:0;
  
  padding:0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;

}

.container{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
    justify-content: center;
  align-items: center;
  background-color: #2c4454;
  
}
h1{
  color:whitesmoke;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2;
}
.Display-container{
  position: relative;
  width: 300px;
  
 
  border-radius: 1rem;
  padding:20px;
  margin:20px;
  
  
  
  background-color:#0f212e;
}
.display{
  color:#CD7F32;
  font-size:17px;
  
  background-color: transparent;
  border-color: transparent;
}
.copybtn{
  position: absolute;
  background-color: transparent;
  border-color: transparent;
}
.copy{
 
  
    color:whitesmoke;
  font-size: 15px;
    
    
  
  
}
.display::placeholder{
  color:#CD7F32;
}
.input-contaier{
  background-color:#0f212e;
  margin: 20px;
  padding:20px;
  height:360px;
  width: 280px;
  border-radius: 1rem;
  
}
.length-container{
  display: flex;
  justify-content: space-between;
  color:white;
  font-size: 18px;
  margin-bottom: 20px;
  
}
.check-boxes{
  background-color: transparent;
  margin-top: 20px;
  color:white;
}
.Uppercase{
  margin-bottom: 7px;
}
.Lowercase{
  margin-bottom: 7px;
}
.Symbols{
  margin-bottom: 7px;
}
.Numericals{
  margin-bottom: 7px;
}

.strengthContainer{
  display: flex;
  justify-content: space-between;
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.INDICATOR{
  height:1.5rem;
  width:1.5rem;
  border-radius: 50%;
}
.generatepassword{
  
  padding:20px;
  width: 240px;
  border-radius: 1.5rem;
  border-color: transparent;
  background-color: deepskyblue;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.copy.active{
  opacity:1;
  transform: scale(1);
  
}
.tooltip{
  position: absolute;
  background-color: aqua;
  font-size: 15px;
  top:-35px;
  left: -25px;
  padding: 5px 10px;
  border-radius: 1 rem;
  opacity:0;
  transform:scale(0);
  transform-origin: bottom;
  transition: all 200ms ease-in-out;
}
.tooltip.active{
  opacity: 1;
  transform: scale(1);
}
